/* FONTS */
@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Medium.woff2') format('woff2'),
        url('../fonts/LeagueSpartan-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Bold.woff2') format('woff2'),
        url('../fonts/LeagueSpartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: 'League Spartan',Arial, sans-serif;
    font-weight: bold;
    flex-direction: column;
    background-color: #effafa;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
    display: flex;
}

/* CONTAINER */
.container {
    max-width: 1150px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}

.header-inner {
    width: 100%;
    height: 156px;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 76px;
}
.active::before {
    content: "";
    width: 5px;
    height: 100%;
    background-color:#5ca5a5;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.job-list-section {
    padding-bottom: 120px;
}
.job-list {
    width: 100%;
    list-style: none;
}
.job-list-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 15px 20px rgba(13,113,130,0.15);
    padding: 32px 40px;
    position: relative;
}

.job-list-item:not(:last-child) {
    margin-bottom: 24px;
}

.item-hero {
    display: flex;
    align-items: center;
}

.item-hero-info {
    margin-right: 20px;
}

.item-logo-img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-right: 20px;
}
.item-info-features {
    margin-bottom: 8px;
}
.cmp-name {
    font-size: 14px;
    color: #5ca5a5;
}
.alert-new {
    background-color: #5ca5a5;
    color: #fff;
    padding: 6px 8px;
    font-size: 11px;
    border-radius: 12px;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: -0.08px;
}
.alert-featured {
    background-color: #2b3939;
    color: #fff;
    padding: 6px 8px;
    font-size: 11px;
    border-radius: 12px;
    text-transform: uppercase;
    line-height: 14px;
    letter-spacing: -0.08px;
}
.developer-level {
    font-size: 18px;
    color:#2b3939;
    margin-bottom: 8px;
}
.time-localtion {
    color: #7c8f8f;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.12px;
    text-transform: capitalize;
}
.working-hours::before {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #7c8f8f;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    bottom: 1px;
}
.working-hours::after {
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #7c8f8f;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    bottom: 1px;

}
.features {
    display: flex;
    list-style: none;
}
.features-item {
    font-size: 13px;
    letter-spacing: -0.1px;
    background-color: rgba(92, 165, 165,0.1);
    color: #5ca5a5;
    border-radius: 4px;
    padding: 4px 8px;
    text-transform: capitalize;
}

.features-item:not(:last-child) {
    margin-right: 24px;
}

@media only screen and (max-width: 1000px) {
    .job-list-item {
        flex-direction: column;
        align-items: start;
    }

    .item-hero {
        margin-bottom: 20px;
    }

    .item-hero-info {
        margin-right: 0;
    }
}

@media only screen and (max-width: 576px) {
    .job-list-section {
        padding-bottom: 34px;
    }

    .item-hero {
        flex-direction: column;
        align-items: start;
    }

    .item-logo-img {
        position: absolute;
        width: 48px;
        height: 48px;
        margin-right: 0;
        top: 0;
        transform: translateY(-50%);
        left: 24px;
    }

    .features {
        flex-wrap: wrap;
        gap: 16px;
    }

    .features-item:not(:last-child) {
        margin-right: 0;
    }

    .job-list-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .item-hero-info {
        padding-bottom: 16px;
        border-bottom: 1px solid #B7C4C4;
    }


}

@media only screen and (max-width: 480px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .job-list-item {
        padding-left: 24px;
        padding-right: 24px;
    }

    .developer-level {
        font-size: 15px;
    }

    .time-localtion {
        font-size: 13px;
    }
}